﻿@{
    ViewBag.Title = "Home Page";
}

<style>
    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        margin-left: 45%;
        margin-top:30%;
        width: 100px;
        height: 100px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        border: none;
        outline: none;
        background-color: #ffbe42;
        cursor: pointer;
        padding: 15px;
        border-radius: 10px;
    }

        #myBtn:hover {
            background-color: #555;
            color: white;
        }

    #searchBar {
        width: 200px;
        max-width: 80% !important;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-image: url(../../Content/searchicon.png);
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }

        #searchBar:focus {
            width: 80%;
        }

    #res {
        font-size: 20px;
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>

<div class="col-lg-12">

    <div class="col-md-12 col-lg-12">
        <div class="col-md-1 col-lg-1"> </div>
        <input class="col-md-10 col-lg-10" type="text" id="searchBar" name="search" placeholder="Search.." />
        <div class="col-md-1 col-lg-1"> </div>
        <br />
        <hr />
    </div>
    <button style="display:none" class="btn btn-lg btn-danger" id="searchBtn">Search</button>

    <input hidden type="text" id="searchLink" value="@Url.Action("Search", "Home")" />
    <input hidden type="text" id="redisLink" value="@Url.Action("SaveToRedis", "Home")" />

    <div class="col-md-12 col-lg-12">
        <div class="col-md-1 col-lg-1">
            <div class="container">
                <button style="display:none" type="button" id="voteModalBtn" class="btn btn-info btn-lg" data-toggle="modal" data-target="#voteModal">Open Modal</button>

                <div class="modal fade" id="voteModal" role="dialog">
                    <div style="margin-left:-20%" class="modal-dialog">

                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h3>Here is a GIF for you, thank you for voting!</h3>
                            </div>
                            <div class="modal-body">
                                <iframe src="https://giphy.com/embed/l0ErTceAsQ56cqr8Q" width="550" height="290" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/nba-basketball-barkley-l0ErTceAsQ56cqr8Q"></a></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="container">
                <button style="display:none" type="button" id="errorModalBtn" class="btn btn-info btn-lg" data-toggle="modal" data-target="#errorModal">Open Modal</button>

                <div class="modal fade" id="errorModal" role="dialog">
                    <div style="margin-left:-20%" class="modal-dialog">

                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h3>Nesto je krenulo po zlu, ne smanjute nam poene, molimo Vas :)</h3>
                            </div>
                            <div class="modal-body">
                                <iframe src="https://giphy.com/embed/xT9KVexx939mRgS8tG" width="550" height="290" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/nba-fail-basketball-xT9KVexx939mRgS8tG"></a></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div id="res" class="col-md-10 col-lg-10">

        </div>
        <div class="col-md-1 col-lg-1"> </div>
    </div>
    <div style="display:none" class="loader"></div>

    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
</div>


<script>
    window.onscroll = function () { scrollFunction() };
    $(document).ready(function () {

        $('#searchBar').on('keydown', function (e) {
            if (e.which == 13) {
                $('#searchBtn').click();
            }
        });

        $('#searchBtn').on('click', function () {

            $('.loader').show();
            $('#res').text("");
            var param = $('#searchBar').val();
            var urllink = $('#searchLink').val();

            console.log("param", param);
            console.log("url", urllink);

            $.ajax({
                url: urllink,
                data: { term: param },
                success: function (result) {
                    $('.loader').hide();

                    $("#res").append("<ul>")
                    if (result.length == 0)
                    {
                        $("#res").append("<div> No results found. </div>");
                    }
                    for (var i = 0; i < result.length; i++) {
                        $("#res").append("<li>" + result[i] + "<a id=\"a" + i + "\" value=\"" + result[i] + "\" > vote...</a></li> <br/>");
                        $('#a' + i).on('click', function (e) {
                            var idA = e.currentTarget.attributes[0].nodeValue;
                            var text = $('#' + idA).attr('value');

                            var term = $('#searchBar').val();
                            var urllink = $('#redisLink').val();

                            $('#voteModalBtn').click();

                            $.ajax({
                                url: urllink,
                                data: {
                                    dataResult: text,
                                    termin: term
                                }
                            });

                        });
                    }
                    $("#res").append("</ul>")
                },
                error: function (result) {
                    $('.loader').hide();
                    $('#errorModalBtn').click();
                }
            });


        });

    });

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("myBtn").style.display = "block";
        } else {
            document.getElementById("myBtn").style.display = "none";
        }
    }

    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>