﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<style>
    body {
        background-color: #ffbe42;
    }

    .sidenav {
        height: 100%;
        width: 15%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #236e96;
        overflow-x: hidden;
        padding-top: 20px;
    }

    .sidenavright {
        height: 100%;
        width: 15%;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #236e96;
        overflow-x: hidden;
        padding-top: 20px;
    }

    .sidenav a {
        padding: 6px 8px 6px 36px;
        text-decoration: none;
        font-size: 25px;
        color: #cccccc;
        display: block;
        margin-top: 10px;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

    #bodycontainer {
        margin-left: 160px;
        font-size: 28px;
        padding: 0px 10px;
        width: 80%;
    }
</style>
<body>
    <div class="sidenav">
        <div class="logo"><img style="height:100px; width:100%" src="https://teamwork-online-production.s3.amazonaws.com/uploads/655e9e5e-fab7-47e7-8d3b-142108409fb1.png" alt="NBA logo" /> </div>
        <a>@Html.ActionLink("Home", "Index", "Home")</a>
    </div>
    <div class="sidenavright">
        <div class="logo"><img style="height:100px; width:100%" src="https://teamwork-online-production.s3.amazonaws.com/uploads/655e9e5e-fab7-47e7-8d3b-142108409fb1.png" alt="NBA logo" /> </div>
    </div>
    <div id="bodycontainer" class="container body-content">
        @RenderBody()


    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>